body {
    margin: 0;
    height: 1300px;
    padding: 90px 30px 20px 30px;
    font-family: Arial;
    color: white;
    background-color: rgb(23, 23, 23);
}

a {
    color: black;
    text-decoration: none;
}