.header {
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 72px;
    z-index: 1;
    background-color: rgb(255, 208, 0);
    color: black;
}

.left-section {
    display: flex;
    align-items: center;
    width: 200px;
    margin-right: 50px;
    min-width: 200px;
}

.logo-container {
    display: flex;
    width: 60px;
    height: 60px;
    margin-left: 40px;
}

.logo {
    object-fit: cover;
    border-radius: 100px;;
}

.middle-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1;
    min-width: 450px;
}

.link-subpage {
    margin-left: 30px;
}

.right-section {
    display: flex;
    align-items: center;
    padding-right: 100px;
    justify-content: space-around;
    width: 300px;
    margin-left: 50px;
    min-width: 300px;
}