.main {
    display: flex;
}

.donation-form {
    display: flex;
    height: 500px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20px 40px 20px;
    border: 2px solid rgb(255, 237, 136);
    box-shadow: 3px 3px 3px rgb(99, 92, 50);
    border-radius: 10px;
    background-color: rgb(23, 23, 23);
}

.form-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;

}

.names-inputs {
    display: grid;
    grid-template-columns: 200px 200px;
    column-gap: 20px;
}

.amount-input,
.email-input {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;

}

.image-form {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.image-input {
    display: grid;
    flex: 1;
    grid-template-columns: 1fr;
    padding-right: 20px;
}

.image-preview-container {
    width: 100px;
    height:100px;
    border: 2px solid rgb(255, 237, 136);
    border-radius: 100px;
}

.chosen-image {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-color: white;
    border-radius: 100px;;
}

/* imported code: prevent borders around images without [src] value/attribute */

img[src=""],
img:not([src]){
  opacity: 0;
}

img[src="*"]{
  opacity: 1;
}

/* ---------------------------------------------------- */

.search-image {
    font-size: 16px;
}

.search-image[type="file"] {
    display: none;
}

.select-image-button {
    border: 2px solid rgb(255, 237, 136);
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    cursor: pointer;
}

.submit-button {
    margin-top: 20px;
    border: none;
    border-radius: 50px;
    width: 120px;
    height: 32px;
    background-color: rgb(255, 237, 136);
    color: black;
    font-size: 16px;
    cursor: pointer;
}

.input-field[type="text"] {
    border: none;
    height: 24px;
    border-radius: 3px;
    border: 2px solid rgb(255, 237, 136);
}

.donations-container {
    position: absolute;
    background-color: lightgreen;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 20px;
    right: 30px;
    top: 90px;
    bottom: 20px;
    width: 60%;
    border: 2px solid black;
}

.donation {
    background-color: lightblue;
    border: 1px solid black;
    border-right: none;
    border-left: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.donation-image {
    height: 100px;
    width: 100px;
    overflow: hidden;
}

.image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}